<div class="container headspacer">
</div>

<div class="container">
<p>
Bay Area Chinese Musician Association (BACMA) was initiated by a group of Chinese musicians in 2011.  Most members of BACMA at that time were engineers living in the San Francisco Bay Area with passion for music, who enjoyed committing their time for band rehearsals and live performances in the Bay Area.  BACMA was incorporated as a California nonprofit public benefit corporation on October 20, 2014.  The purposes of BACMA are to promote cultural awareness, diversity, and exchange by introducing quality Chinese music to the communities in the San Francisco Bay Area via series of public concerts and educational sessions.
</p>

<p>
Since 2011, BACMA has been actively engaged in hosting local band concerts, organizing music exchange programs and music related educational events and promoting original music created by Chinese musicians.  Till today, BACMA has successfully hosted six public concerts with the purpose of promoting the Bay Area communities’ awareness of and interest in Chinese music.  It has attracted more than fifty Chinese musicians from diverse backgrounds, including amateurs and professionals, to be members of BACMA and it aims to attract more talented musicians to join.  In December 2011, BACMA hosted its first concert “Do Re Mi” at CPPAA Art Center, 6148 Bollinger Road， San Jose, CA.  Three local bands and two guest players from New York City performed together.  In July 2012, BACMA hosted a music exchange concert in 1107 North Fair Oaks Ave. Sunnyvale, CA 94089, featuring Zhi Li, a musician from mainland China.  One local musician performed together with Zhi Li in that music exchange concert.  In December, 2012, BACMA hosted a free concert themed as “Sing to Our Friends” in 6345 January Way, San Jose, CA 95129.  Five musicians performed their original songs.  In July 2013, BACMA hosted a reminiscence concert for Chinese Legendary Rock Band, Beyond in 21250 Stevens Creek Blvd, Cupertino, CA 95014.  One local band performed.  In October 2014, BACMA hosted another rock concert. One local band performed.  In December 2104, BACMA hosted “Sing to Our Friends II” concert in 1700 West Hillsdale Blvd, San Mateo, California 94402.  All of these concerts hosted by BACMA were open to the public and were well received by the audience.
</p>  

<p>
In addition to concert hosting, BACMA also sponsors and promotes local music bands that create high quality Chinese original music.  Currently, BACMA sponsors and promotes two local music bands, namely “Bay Breeze” and “Taotie”.  BACMA also sponsors the upcoming album of “Bay Breeze”, which is expected to be released at the end of 2015.  All proceeds collected from the sale of such album will be used by BACMA to further its 501(c)(3) purposes.
</p>  

<p>
BACMA also plans to offer a series of educational sessions to the general public with the purpose of granting music lovers in the Bay Area easy access to resources related to Chinese music. In November 2014, BACMA hosted a classical master class featuring the worldwide famous classical guitar group “Beijing Guitar Duo” to the local musicians. In 2015, BACMA plans to host a series of educational program, including another classical master class with the “Beijing Guitar Duo” group, and workshops on Acoustic Guitar 101, Song Writing Basics, and Home Production of Music. The acoustic guitar workshop was successfully hosted on March 28, 2015 in Google rehearsal room with no admission fee and open for public.  More than 30 people attended this workshop.  BACMA invited four experienced acoustic guitar players sharing their experience in learning guitar and stage experience.  At the very beginning of the workshop, BACMA announced the whole plan for four different workshop and two planning shows.  With each session, tutors shares their acoustic knowledge, presents guitar skills with example and answer questions from the audience. The whole workshop lasted 2.5 hours.  In the end, BACMA welcome audience to come to the next coming session and support BACMA with fund raising.
</p> 

<p>
BACMA’s activities, including concert hosting, original music promoting and music education classes and other related events, are aimed at providing a platform for Chinese musicians living in the Bay Area to connect with each other and showcase their talents and promoting Chinese music to the communities in the Bay Area.
</p>

<hr class="featurette-divider">

</div>


