    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">湾区华人乐手协会</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">二手玫瑰 跨界 全球巡演三藩站</a></li>
                    <li><a href="#">Sing to our friends II</a></li>
                    <li><a href="#">Beyond Tribute Concert</a></li>
                    <li><a href="#">Sing To Friends Concert</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Workshops</li>
                    <li><a href="#">Acoustic Guitar Workshop</a></li>
                    <li><a href="#">Beijing Guitar Duo Classical Guitar Master Class</a></li>
                  </ul>
                </li>
                <li><a href="#music">Music</a></li>
                <li><a href="#life">Services</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/images/ershoumeigui.png" alt="二手玫瑰 跨界 全球巡演三藩站">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy Ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="https://raw.githubusercontent.com/wangluyi1982/website_materials/master/images/acoustic2015.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Music to Life</h1>
              <p>We are targeting at knowing more musicians , sponsoring more self-promoted concerts, spreading more original music.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/images/gallery.png" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p>We are targeting at knowing more musicians , sponsoring more self-promoted concerts, spreading more original music.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11337066_426149387556963_130626369430956398_o.jpg" width="140" height="140">
          <h2>二手玫瑰 跨界 全球巡演三藩站</h2>
          <p>在美国谈中国摇滚，我找不到一个乐队比二手玫瑰更有中国特色。7/10/2015， BACMA携手MusicDish为二手玫瑰打响全球巡演第一炮！</p>
          <p><a class="btn btn-default" href="#" role="button">Buy Ticket &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://keplerjunction.co.uk/wp-content/uploads/2011/02/Acoustic-Guitar.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Workshops</h2>
          <p>弹着吉他唱着歌？BACMA 吉他普及课程，给所有想拿起吉他唱歌的同好，给想提高自己吉他水平的人，给想和我们一起文艺的人。</p>
          <p><a class="btn btn-default" href="#" role="button">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xaf1/t31.0-8/460815_160971554074749_317871081_o.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Services</h2>
          <p>BACMA’s activities and services, including concert hosting, original music promoting and music education classes and other related events, are aimed at providing a platform for Chinese musicians living in the Bay Area to connect with each other and showcase their talents and promoting Chinese music to the communities in the Bay Area.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">二手玫瑰打响全球巡演第一炮 <span class="text-muted">7/10/2015</span></h2>
            <p class="lead">在美国谈中国摇滚，我找不到一个乐队比二手玫瑰更有中国特色。7/10/2015， BACMA携手MusicDish为二手玫瑰打响全球巡演第一炮！</p>

            <p><b>
            7/10/2015 8:30PM<br>
            Oshman Family Jewish Community Center<br>
            3921 Fabian Way. Palo Alto, Ca. 94303<br>
            网上购票 (General Admission $18 , VIP $58)<br>
            现场购票(General Admission $25 , VIP $68)<br>
            </b></p>

            <p>
            湾区的朋友们，如果你认为中国当代摇滚已经死亡，或者你想了解摇滚这个被反复讨论却依然黑暗神秘的世界，请来现场体验二手玫瑰的演出。
            </p>

            <p>
            妖娆，讽刺，视觉冲击。<br>
            伟大，张狂，特立独行。<br>
            这就是横扫众多音乐节，有16年历史，被称为中国“第一国摇”的摇滚乐队，二手玫瑰。<br>
            </p>

            <p>
            用冷嘲迎接现实是他们创作的坐标，用滑稽娱乐荒谬是他们表达的方式。
            </p>
            <p>
            在中国鱼龙混杂竞争激励的摇滚圈，他们既有尖锐的质疑，也继承了传统的骨血。当大家都在膜拜西方摇滚的时候，二手玫瑰非要证明给你看，他们的作品流淌着中国血，尖叫着民族性。就像主唱梁龙说的“我不想在空中瞎飞，我要双脚落在地上，我甚至想写全世界最牛逼的歌。我整个人落地了，回到民间的血液里，那个时候我认为才值得称为创作。”
            </p>


            <a href="http://zh.wikipedia.org/wiki/二手玫瑰">二手玫瑰 维基</a><br>
            <a href="http://zhoukan.cc/2012/07/16/second-hand-rose-china-the-most-rebellious-child/">二手玫瑰 周刊</a><br>
            <a href="http://music.douban.com/review/7163921/">二手玫瑰 豆瓣音乐</a><br>
            <a href="http://www.zhihu.com/question/21972310">二手玫瑰 知乎</a><br>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11337066_426149387556963_130626369430956398_o.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Acoustic Guitar Workshop
          </h2>
          
          <p class="lead">
            弹着吉他唱着歌？BACMA 木吉他普及，给所有想拿起吉他唱歌的同好，给想提高自己吉他水平的人，给想和我们一起文艺的人。</p>

        <p><b>Date: March. 28th, 2:00PM-5:00PM<br>
        Location:1204 Villa St, Mountain View, CA 94041
        </b></p>

        <p>文艺是一种情结，年少的时候是追随，慢慢成了追忆。有多少次它真的在你生活中划下痕迹，留过足印。 浮躁和喧哗了太久，静下心来轻轻的播弄琴弦，或许是一番新的滋味。</p>

        <p>Leo/Jason(民谣/指弹），Huihui(古典），Anqi（古典/指弹），Luyi（基本功）</p>

        <p>Free Tickets (Cap size:30)，Click eventbrite to claim or just stop by.
        https://www.eventbrite.com/e/bacma-acoustic-guitar-workshop-3282015-tickets-6969270275</p>

        <p>详细信息和课程课件会更新在我们自己的网站。
        欢迎大家到来！</p>
          <a href="https://www.facebook.com/events/614124912065677/">Our Facebook Event</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://raw.githubusercontent.com/wangluyi1982/website_materials/master/images/acoustic2015.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Sing to our Friends II<span class="text-muted"></span></h2>
          <p class="lead"> Date: Dec. 13th, 2:30PM-5:00PM<br>
          Location:1700 West Hillsdale Blvd, San Mateo, California 94402
          </p>
          <p>女生乐团 Bay Breeze经过一年的精心准备，终于要迎来12月13日的unplugged专场音乐会 - 唱给朋友们听2！两年前参加过第一次 “唱给朋友们听” 的unplugged音乐会的朋友们一定还记得，我们以不插电的乐器为主，将改编和原创音乐呈现给大家。这一次的音乐会，不论是新的原创音乐，还是改编歌曲，都凝聚了我们大量的心血，希望大家会更喜欢！
另外，我们也是 Bay Area Chinese Musician Association (BACMA, 发音拜课马）的一员哦。这个非盈利组织旨在推广湾区的华人业余音乐人原创以及文化交流活动。成立初期，很需要大家的支持。我们目标，是让湾区华人原创以及音乐人活动长期持续的发展下去，生根发芽，茁壮成长！
关于原创歌曲的介绍也会陆续出来哦，敬请关注！
          </p>
          <a href="https://www.facebook.com/events/548267648640125/">Facebook Event Page</a>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://raw.github.com/wangluyi1982/website_materials/master/images/baybreeze.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Beyond Tribute Concert
          </h2>
          
          <p class="lead">
            原谅我这一生不不羁放纵爱自由也会怕有一天会跌倒...</p>

        <p><b>Date: July 13th, 7:45 PM-10:45PM<br>
        Location: 21250 Stevens Creek Blvd,Cupertino, CA 95014
        </b></p>

        <p>1月下旬某天，有朋友推荐《我是歌手》，当海阔天空的旋律响起，我似乎又回到了15年前疯狂迷恋beyond的年代。岁月匆匆逝去，不变的是音乐的感动和对梦想的执着追求。我对朋友说我想办一场beyond tribute的show来纪念他们。
2月初去NYC见到Steven, 谈起从第一次是在NYC做的Mandarin invasion，三年我们没有一起做演出了。酣醉前一堆人大声唱《再见理想》，我和steven也约定要东西海岸各自举办一场 Beyond Tribute Show，隔空呼应，纪念这支影响我们灵魂的摇滚乐队。
接下来是忙碌的准备，选最好的场地，最好的设备，编曲和召集乐手，一切都有序的进行着。新团队Engineers Power的成员都是深受Beyond 影响的乐手，BayMPA的其他乐手也都积极投入着演出的各种准备。我们希望用最好的状态和音乐来致意偶像，也希望这
场show能让我们认识更多的beyond的忠实歌迷，更多的音乐爱好者，用我们的音乐热情来点燃每个人的激情！</p>
          <a href="https://www.facebook.com/events/438305956260528/">Our Facebook Event</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-ash2/v/t1.0-9/482633_158309227674315_2052497664_n.jpg?oh=643214f1a0cfeeadf4794ee7b9665a7d&oe=55FF5ACB" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

        <h2>Donate to BACMA</h2>
        <img width=200 height=150 src="/images/logo.png">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
            target="_top">
            <input type="hidden" name="cmd" value="_s-xclick"> <input
                type="hidden" name="hosted_button_id" value="FURVFRX6MBCCW">
            <input type="image"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                border="0" name="submit"
                alt="PayPal - The safer, easier way to pay online!"> <img
                alt="" border="0"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
                width="1" height="1">
        </form>
        
      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014-2015 <%= name %>. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

